
<!DOCTYPE html>
{% load static %}
<html lang="en">



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Atiku Care Data Management System</title>

    <!-- Meta OG -->
    <meta property="og:title" content="Responsive Admin Dashboard Template">
    <meta property="og:description" content="Proper data categorization and intuitive layout might go a long way when it comes to creating your dashboard.">
    <meta property="og:image" content="../../../../img/Live/MDB/admin-homev3.jpg">
    <meta property="og:url" content="home%20v3.html">
    <meta property="og:site_name" content="mdbootstrap.com">
    <!-- /Meta OG -->

    <!-- Twitter Card -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:description" content="Proper data categorization and intuitive layout might go a long way when it comes to creating your dashboard." />
	<meta name="twitter:title" content="Responsive Admin Dashboard Template" />
	<meta name="twitter:site" content="@MDBootstrap" />
	<meta name="twitter:image" content="../../../../img/Live/MDB/admin-homev3.jpg" />
	<meta name="twitter:creator" content="@MDBootstrap" />
	<!-- /Twitter Card -->

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'material/font/font-awesome.min.css' %}">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'material/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{% static 'material/css/mdb.css' %}" rel="stylesheet">
    <!-- Customizer -->
    <link rel="stylesheet" href="{% static 'material/css/customizer.min.css' %}">
    <!-- Your custom styles (optional) -->
    <link href="{% static 'material/css/style.css' %}" rel="stylesheet">
</head>

<body class="fixed-sn white-skin">

    <!-- Customizer -->
    <div id="customizer" class="z-depth-1">
        <a href="#" id="toggle" data-toggle="tooltip" data-placement="left" title="Customize your template!"><i class="fa fa-cog" aria-hidden="true"></i></a>
        <div class="inner">
            <p class="text-center customizer-heading">Pick a skin color</p>
            <ul class="skins-list">
                <li><a href="#" data-skin-color="deep-purple-skin"><span class="color skin-deep-purple"></span></a></li>
                <li><a href="#" data-skin-color="navy-blue-skin"><span class="color skin-navy-blue"></span></a></li>
                <li><a href="#" data-skin-color="cyan-skin"><span class="color skin-cyan"></span></a></li>
                <li><a href="#" data-skin-color="pink-skin"><span class="color skin-pink"></span></a></li>
                <li><a href="#" data-skin-color="indigo-skin"><span class="color skin-indigo"></span></a></li>
                <li><a href="#" data-skin-color="light-blue-skin"><span class="color skin-light-blue"></span></a></li>
                <li><a href="#" data-skin-color="grey-skin"><span class="color skin-grey"></span></a></li>
                <li><a href="#" data-skin-color="white-skin"><span class="color skin-white"></span></a></li>
                <li><a href="#" data-skin-color="black-skin"><span class="color skin-black"></span></a></li>
                <li><a href="#" data-skin-color="mdb-skin"><span class="color skin-mdb"></span></a></li>
            </ul>
            <p class="text-center customizer-heading">SideNav Background Type</p>
            <form class="form-inline">
                <fieldset class="form-group">
                    <input name="group1" type="radio" id="radio11" value="flat">
                    <label for="radio11">Flat</label>
                </fieldset>

                <fieldset class="form-group">
                    <input name="group1" type="radio" id="radio21" value="gradient">
                    <label for="radio21">Gradient</label>
                </fieldset>

                <fieldset class="form-group">
                    <input name="group1" type="radio" id="radio31" value="background" checked="checked">
                    <label for="radio31">Image</label>
                </fieldset>
            </form>

            <div id="bg-option">
                <p class="text-center customizer-heading">Background Image</p>

                <div class="bg-img-preview">
                    <label for="radio12"><img class="img-fluid" src="../../../../img/Others/sidenav1-min.jpg" alt="Option 1"></label>
                    <label for="radio22"><img class="img-fluid" src="../../../../img/Others/sidenav2-min.jpg" alt="Option 2"></label>
                    <label for="radio32"><img class="img-fluid" src="../../../../img/Others/sidenav3-min.jpg" alt="Option 3"></label>
                    <label for="radio42"><img class="img-fluid" src="../../../../img/Others/sidenav4-min.jpg" alt="Option 4"></label>
                </div>

                <form class="form-inline bg-img-options">
                    <fieldset class="form-group">
                        <input name="group2" type="radio" id="radio12" value="1" checked="checked">
                        <label for="radio12"></label>
                    </fieldset>

                    <fieldset class="form-group">
                        <input name="group2" type="radio" id="radio22" value="2">
                        <label for="radio22"></label>
                    </fieldset>

                    <fieldset class="form-group">
                        <input name="group2" type="radio" id="radio32" value="3">
                        <label for="radio32"></label>
                    </fieldset>

                    <fieldset class="form-group">
                        <input name="group2" type="radio" id="radio42" value="4">
                        <label for="radio42"></label>
                    </fieldset>
                </form>

                <p class="text-center customizer-heading">Mask opacity</p>

                <form class="form-inline">
                    <fieldset class="form-group">
                        <input name="group3" type="radio" id="radio13" value="strong" checked="checked">
                        <label for="radio13">Strong</label>
                    </fieldset>

                    <fieldset class="form-group">
                        <input name="group3" type="radio" id="radio23" value="light">
                        <label for="radio23">Light</label>
                    </fieldset>

                    <fieldset class="form-group">
                        <input name="group3" type="radio" id="radio33" value="slight">
                        <label for="radio33">Slight</label>
                    </fieldset>
                </form>
            </div>

            <div>
                <p class="text-center customizer-heading d-inline">Fixed sidenav</p>
                <div class="switch d-inline-block float-right">
                    <label>
                        Off
                        <input type="checkbox" checked="checked">
                        <span class="lever"></span> On
                    </label>
                </div>
            </div>

        </div>
    </div>
    <!-- /.Customizer -->

    <!--Double navigation-->
    <header>
        <!-- Sidebar navigation -->
        <ul id="slide-out" class="side-nav fixed sn-bg-1 custom-scrollbar">
            <!-- Logo -->
            <li>
                <div class="user-box">
                    <img src="{% static 'images/logo.png' %}" class="img-fluid rounded-circle">
                    <p class="user text-center black-text">Admin</p>
                </div>
            </li>
            <!--/. Logo -->
            <!-- Side navigation links -->
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li><a href="analytics.html" class="collapsible-header waves-effect arrow-r"><i class="fa fa-pie-chart"></i> Analytics</a>
                    <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-code"></i> Creators<i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="modals.html" class="waves-effect">Modals</a>
                                </li>
                                <li><a href="page-create.html" class="waves-effect">Create Page</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-lock"></i> Forms<i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="signup.html" class="waves-effect">Sign up</a>
                                </li>
                                <li><a href="signup%20v2.html" class="waves-effect">Sign up v2</a>
                                </li>
                                <li><a href="login.html" class="waves-effect">Login</a>
                                </li>
                                <li><a href="editaccount.html" class="waves-effect">Edit Account</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-bar-chart"></i> SEO<i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="seo-overview.html" class="waves-effect">Overview</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="clients.html" class="collapsible-header waves-effect arrow-r"><i class="fa fa-users"></i> Clients</a>
                    <li><a href="invoice.html" class="collapsible-header waves-effect arrow-r"><i class="fa fa-money"></i> Invoice</a>
                    <li><a href="support.html" class="collapsible-header waves-effect arrow-r"><i class="fa fa-support"></i> Support</a>
                    <li><a href="faq.html" class="collapsible-header waves-effect arrow-r"><i class="fa fa-question-circle" aria-hidden="true"></i> FAQ</a>
                </ul>
            </li>
            <!--/. Side navigation links -->
            <div class="sidenav-bg mask-strong"></div>
        </ul>
        <!--/. Sidebar navigation -->

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-toggleable-md navbar-dark scrolling-navbar double-nav">

            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>

            </div>

            <!-- Breadcrumb-->
            <ol class="breadcrumb hidden-lg-down">
                <li class="breadcrumb-item active"><a href="#">Atiku Cares</a></li>
                <li class="breadcrumb-item active">Data Analytics System</li>
            </ol>

            <!--Navbar links-->
            <ul class="nav navbar-nav nav-flex-icons ml-auto">

                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link"><i class="fa fa-home"></i> <span class="hidden-sm-down">Home</span></a>
                </li>
                <li class="nav-item">
                    <a  href="{% url 'visualize' %}" class="nav-link"><i class="fa fa-connectdevelop"></i> <span class="hidden-sm-down">Admin Panel</span><a/>
                </li>
                <li class="nav-item">
                    <a  href="/admin" class="nav-link"><i class="fa fa-connectdevelop"></i> <span class="hidden-sm-down">Apllicants Summary</span><a/>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i> <span class="hidden-sm-down">Profile</span>
                    </a>
                    <div class="dropdown-menu dropdown-ins dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">Log Out</a>
                    </div>
                </li>
            </ul>
            <!--/Navbar links-->

        </nav>
        <!-- /.Navbar -->

    </header>
    <!--/.Double navigation-->


    <!--Main layout-->
    <main class="">
        <div class="container-fluid">

            <!--Section heading-->
            <h4 class="text-left font-weight-bold">Participants Summary By Local Government</h4>
            <p class="font-italic">Please Click On Local Government For More Details  </p>
            <hr>
            <br>

            <!--Section: Intro-->
            <section class="section section-intro">

                <!--First row-->


                <div class="row ">
                            {%  for any, all in new %}
                    <!--First column-->
                    <div class="col-md-4 mb-3 ms-2 view  hm-blue-strong hoverable">
                        <!--Card-->
                        <div class="card card-cascade cascading-admin-card">

                            <!--Card Data-->
                            <div class="admin-up">
                                <i class="fa fa-money blue darken-3"></i>
                                <div class="data">
                                    <p class=" font-weight-bold">{{ any }} </p>
                                    <h3>{{ all }}</h4>
                                </div>
                            </div>
                            <!--/.Card Data-->

                            <!--Card content-->
                            <div class="card-block">
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <!--Text-->
                                <p class="card-text">Better than last week (25%)</p>
                            </div>
                            <!--/.Card content-->
                        </div>
                    </div>
                        <!--/.Card-->
                    <!--/First column-->
                            {% endfor %}
                </div>

            </section>

<!-- section intro 2 -->

            <!--Section: Intro-->
    <!--/Main layout-->

    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="{% static 'material/js/jquery-3.1.1.min.js' %}"></script>

    <script>
        $("#navigation").load("components/navigation.html");
    </script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static 'material/js/tether.min.js' %}"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static 'material/js/bootstrap.min.js' %}"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static 'material/js/mdb.min.js' %}"></script>

    <!-- Customizer -->
    <script type="text/javascript" src="{% static 'material/js/customizer.min.js' %}"></script>

    <script>
        $(function() {
            var data = {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [{
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(0,0,0,.15)",
                    data: [65, 59, 80, 81, 56, 55, 40],
                    backgroundColor: "#4CAF50"
                }, {
                    label: "My Second dataset",
                    fillColor: "rgba(255,255,255,.25)",
                    strokeColor: "rgba(255,255,255,.75)",
                    pointColor: "#fff",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(0,0,0,.15)",
                    data: [28, 48, 40, 19, 86, 27, 90]
                }]
            };


            var dataPie = [{
                value: 300,
                color: "#F7464A",
                highlight: "#FF5A5E",
                label: "Red"
            }, {
                value: 50,
                color: "#46BFBD",
                highlight: "#5AD3D1",
                label: "Green"
            }, {
                value: 100,
                color: "#FDB45C",
                highlight: "#FFC870",
                label: "Yellow"
            }]

            var option = {
                responsive: true,
                // set font color
                scaleFontColor: "#fff",
                // font family
                defaultFontFamily: "'Roboto', sans-serif",
                // background grid lines color
                scaleGridLineColor: "rgba(255,255,255,.1)",
                // hide vertical lines
                scaleShowVerticalLines: false,
            };

            //Get the context of the canvas element we want to select
            // var ctx = document.getElementById("sales").getContext('2d');
            // var myLineChart = new Chart(ctx).Line(data, option); //'Line' defines type of the chart.

            // Get the context of the canvas element we want to select
            var ctx = document.getElementById("conversion").getContext('2d');
            var myRadarChart = new Chart(ctx).Radar(data, option);

            // Get the context of the canvas element we want to select
            var ctx = document.getElementById("traffic").getContext('2d');
            var myBarChart = new Chart(ctx).Bar(data, option);

            // Get the context of the canvas element we want to select
            var ctx = document.getElementById("seo").getContext('2d');
            var myPieChart = new Chart(ctx).Pie(dataPie, option);

        });
    </script>

    <script>
        $(function() {
            $('.min-chart#chart-sales').easyPieChart({
                barColor: "#4caf50",
                onStep: function(from, to, percent) {
                    $(this.el).find('.percent').text(Math.round(percent));
                }
            });
        });
    </script>

    <script>
        // Data Picker Initialization
        $('.datepicker').pickadate();


        // Material Select Initialization
        $(document).ready(function() {
            $('.mdb-select').material_select();
        });

        // Sidenav Initialization
        $(".button-collapse").sideNav();

        // Tooltips Initialization
        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
            $('#toggle').tooltip('show')
        })
    </script>


    <!-- JVectorMap -->
    <link rel="stylesheet" href="{% static 'material/js/vendor/jvectormap/jquery-jvectormap-2.0.3.css' %}" type="text/css" media="screen"/>
    <script src="{% static 'material/js/vendor/jvectormap/jquery-jvectormap-2.0.3.min.js' %}"></script>
    <script src="{% static 'material/js/vendor/jvectormap/jquery-jvectormap-world-mill.js' %}"></script>

    <script>
        $(function(){
            $('#world-map').vectorMap({map: 'world_mill_en', zoomOnScroll: false});
        });
    </script>
    <!-- /.JVectorMap -->

</body>


<!-- Mirrored from mdbootstrap.com/live/_MDB/templates/Admin/home v3.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 14 Jul 2017 19:04:01 GMT -->
</html>
